<p>home works!</p>

<ul>
  <ng-container *ngFor="let item of [1, 3, 4, 5,6]">
    <li>{{item}}</li>
  </ng-container>
</ul>

<a routerLink="/about">О нас</a>

<div class="container">
  <div class="p-3 text-primary-blue-active">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aperiam dignissimos error, facilis in itaque perspiciatis quae quibusdam, recusandae tempore, totam ut. Consequuntur, distinctio eum harum nemo neque placeat quo?
  </div>
</div>

<div class="container">
  <div class="bg-primary-white">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos distinctio dolore eos, et exercitationem incidunt ipsa itaque labore libero modi nulla odio officia possimus reprehenderit rerum sapiente totam vero.
  </div>
</div>

<div class="container">
  <div class="bg-primary-black">
    <div class="text-primary-white">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos distinctio dolore eos, et exercitationem incidunt ipsa itaque labore libero modi nulla odio officia possimus reprehenderit rerum sapiente totam vero.
    </div>
  </div>
</div>

<div class="container p-3">
  <a class="btn btn-success w-100" routerLink="/dependent-integrals">Зависящие</a>
</div>

<div class="container">
  <span mathFormula="\[x\to <<x}_{0}}\]"></span>
</div>

<pre>
  {{ data | json }}
</pre>


