<section class="page-section">
  <div class="container bg-primary-white p-3 p-md-4 p-lg-5 rounded-5">
    <math-hero-banner [data]="content.HERO_BANNER"></math-hero-banner>
  </div>
</section>

<section class="page-section">
  <div class="container bg-primary-white p-3 p-md-4 p-lg-5 rounded-4">
    <h2 class="mb-3 mb-lg-4">Доступные курсы</h2>
    <div class="d-grid banner-wrapper__two gap-3 gap-md-4 gap-lg-5">
      <ng-container *ngFor="let banner of content.COURSE_BANNERS">
        <math-course-banner [data]="banner"></math-course-banner>
      </ng-container>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container bg-primary-white p-3 p-md-4 p-lg-5 rounded-4">
    <h2 class="text-center my-3"><a routerLink="/smth">Страница 404</a></h2>
  </div>
</section>

<section class="page-section">
  <div class="container bg-primary-white p-3 p-md-4 p-3 rounded-4">
    <span mathFormula="$\varphi \left( \gamma \right)$"></span>
  </div>
</section>

<section class="page-section">
  <div class="container bg-primary-white p-3 p-md-4 p-3 rounded-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos distinctio dolore eos, et exercitationem incidunt ipsa itaque labore libero modi nulla odio officia possimus reprehenderit rerum sapiente totam vero.
  </div>
</section>


