<math-navigation></math-navigation>

<div class="error">
  <div class="error__content">
    <a class="error__content_logo" href="/">
      <img src="favicon.ico" alt="Главная">
    </a>
    <div class="error__content_main-left">
      <p>404</p>
      <p>Упс, страница не найдена</p>
    </div>
    <div class="error__content_main-right">
      <img src="error.png" alt="Страница не найдена">
    </div>
    <div class="error__content-bottom">
      <a routerLink="/">
        На главную
      </a>
    </div>
  </div>
</div>

<math-footer></math-footer>
