<div class="rshb-error">
  <div class="rshb-error__content w-error">
    <a class="rshb-error__content_logo" href="/">
      <img src="/assets/logos/logo_rshb.svg" alt="Главная">
    </a>
    <div class="rshb-error__content_main-left">
      <p>404</p>
      <p>Упс, страница не найдена</p>
    </div>
    <div class="rshb-error__content_main-right">
      <img src="/assets/images/error-img.svg" alt="Страница не найдена">
    </div>
    <a class="rshb-error__content-bottom btn-light" routerLink="/">
      Вернуться обратно
    </a>
  </div>
</div>
