<section class="page-section mb-lg-5 mb-3">
  <div class="container bg-primary-white p-3 p-md-4 p-lg-5 rounded-4">
    <div class="d-grid feature__container">
      <div class="d-flex flex-column justify-content-between">
        <h1>Упс, кажется раздел в&nbsp;разработке</h1>
        <div>
          <a routerLink="/" class="my-btn my-btn-primary">На главную</a>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <img src="working.png">
      </div>
    </div>
  </div>
</section>
