/* You can add global styles to this file, and also import other style files */
@use "variables";
@use "mixins/breakpoints";

a {
  text-decoration: none !important;
}

h2 {
  font-weight: 600 !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

html, body {
  height: 100%;
}

.page-section {
  margin-top: 2rem;
}
