@import 'mixins/button';

// Определение карты цветов
$colors: (
  "primary-white": #ffffff,
  "primary-black": #000000,

  // Фиолетовый
  "primary-purple-secondary": #EFEFFF,
  "primary-purple-focus": #D2B6D9,
  "primary-purple-border": #BB92C6,
  "primary-purple-hover": #8E49A0,
  "primary-purple-active": #641F76,
  "primary-purple": #78258D,

  // Красный
  "primary-red-secondary": #FFEFEF,
  "primary-red-focus": #F6B5B6,
  "primary-red-border": #F19092,
  "primary-red-hover": #E84649,
  "primary-red-active": #BE1C1F,
  "primary-red": #E42125,

  // Голубой
  "primary-blue-secondary": #DEF1FF,
  "primary-blue-focus": #B9DAF0,
  "primary-blue-border": #96C7E8,
  "primary-blue-hover": #51A2D9,
  "primary-blue-active": #2678AE,
  "primary-blue": #2E90D1,

  // Оранжевый
  "primary-orange-secondary": #FBE1D1,
  "primary-orange-focus": #F9CCB3,
  "primary-orange-border": #F5B38C,
  "primary-orange-hover": #EF8040,
  "primary-orange-active": #C55616,
  "primary-orange": #EC671A,

  // Серый
  "primary-gray-secondary": #F9F9F9,
  "primary-gray-focus": #F6F6F6,
  "primary-gray-border": #F1F1F1,
  "primary-gray-hover": #E8E8E8,
  "primary-gray-active": #BDBDBD,
  "primary-gray": #E3E3E3,

  // Темно-серый
  "primary-dark-gray": #232323,

  // Желтый
  "primary-yellow-secondary": #FFF5CC,
  "primary-yellow-focus": #FFEFAA,
  "primary-yellow-border": #FEE680,
  "primary-yellow-hover": #FED62B,
  "primary-yellow-active": #D4AC00,
  "primary-yellow": #FECE00,

  // Зеленый
  "primary-green-secondary": #D3FAD6,
  "primary-green-focus": #B5F6BB,
  "primary-green-border": #90F199,
  "primary-green-hover": #46E856,
  "primary-green-active": #1CBE2B,
  "primary-green": #21E434,

  // Темно-зеленый
  "primary-dark-green-secondary": #D4EED7,
  "primary-dark-green-focus": #B8E3BC,
  "primary-dark-green-border": #94D49B,
  "primary-dark-green-hover": #4EB858,
  "primary-dark-green-active": #238E2E,
  "primary-dark-green": #2AAA37,

  // Дополнительно
  "footer": #F6F6F6
) !default;

:root {
  @each $name, $value in $colors {
    --#{$name}: #{$value};
  }
}

// Стили для заднего фона и текста
@each $name, $value in $colors {
  .bg-#{$name} {
    background: var(--#{$name}); // Используйте CSS-переменные
  }

  .text-#{$name} {
    color: var(--#{$name}); // Используйте CSS-переменные
  }
}

$button-states: (
  "hover": 0.1, // Увеличиваем яркость цвета на 10%
  "active": 0.2, // Увеличиваем яркость цвета на 20%
  "focus": 0.1 // Увеличиваем яркость цвета на 10%
);

// Функция для затемнения цвета
@function darken($color, $amount) {
  @return rgba($color, 1 - $amount);
}


// Генерация классов для каждой кнопки
@each $name, $value in $colors {
  @include button($name);
}
