<section class="page-section">
  <div class="container">
    <div class="bg-white p-3 rounded-4">
      <div class="content" mathLevel="only-easy">Текст для начального уровня</div>
      <div class="content" mathLevel="up-easy">Текст доступный с начального уровня и выше</div>
      <div class="content" mathLevel="only-normal">Текст только для базового уровня</div>
      <div class="content" mathLevel="up-normal">Текст доступный с базового уровня и выше</div>
      <div class="content" mathLevel="only-hard">Текст только для продвинутого уровня</div>
    </div>
  </div>
</section>
