.breadcrumb {
  background: none;
  font-size: .8em;
  margin: 0;

  &__separator {
    padding: 0 0.25rem;

    img {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

  a, span {
    color: var(--primary-gray-active) !important;
    cursor: pointer;
  }
  a:hover, span:hover {
    filter: brightness(70%);
  }
  li{
    list-style: none;
    float: left;
  }

  &-active {
  }
}
