@if (!isHomePage) {
  <div class="container">
    <ol class="breadcrumb d-flex gap-1">
      <li class="d-flex">
        <a routerLink="/">Главная</a>
        <span class="breadcrumb__separator d-flex align-items-center"><img src="default-icons/chevron-right.svg"></span>
      </li>
      @for (breadcrumb of breadcrumbs; track breadcrumb; let isLast = $last) {
        <li class="d-flex">
          <a [routerLink]="breadcrumb.url" routerLinkActive="breadcrumb-active">
            {{ breadcrumb.label }}
          </a>
          @if (!isLast) {
            <span class="breadcrumb__separator d-flex align-items-center"><img src="default-icons/chevron-right.svg"></span>
          }
        </li>
      }
    </ol>
  </div>
}
