.math-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  width: 160px;
  overflow: auto;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: var(--navigation);
  z-index: 250;
  position: relative;
  transition: background-color .3s ease, border-color .3s ease;
  height: 100dvh;
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  box-sizing: border-box;

  &__panel {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%; /* Добавьте это, чтобы панель занимала всю ширину родительского элемента */
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-item {
      color: black;
      position: relative;
      width: 100%;

      &_link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: .75rem;
        padding-block: 1.25rem;
        text-decoration: none;
        fill: rebeccapurple;
        color: inherit;
        cursor: pointer;
        transition: fill .3s ease;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0; /* Размещаем полосу слева */
          height: 100%; /* Устанавливаем высоту полосы на 100% */
          width: 2px; /* Ширина полосы */
          background-color: var(--navigation-dark);
          opacity: 0;
          transform: scale(.9);
          transform-origin: center;
          transition: opacity .3s ease, transform .3s ease;
        }

        &-active {
          font-weight: 500;

          &::before {
            opacity: 1;
            transform: scaleY(1);
          }
        }
      }
    }
  }
}

.math-nav__submenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
  width: 200px;
  overflow: auto;
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background-color: var(--navigation);
  z-index: 250;
  position: relative;
  transition: background-color .3s ease, border-color .3s ease;
  height: 100dvh;
  padding-block-start: 1rem;
  padding-block-end: 2rem;
  box-sizing: border-box;
  border-left: 1px solid var(--navigation-border);

  &__panel {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%; /* Добавьте это, чтобы панель занимала всю ширину родительского элемента */
  }
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-item {
      color: black;
      position: relative;
      width: 100%;

      &_link {
        display: flex;
        flex-direction: column;
        gap: .75rem;
        padding-block: 1.25rem;
        text-decoration: none;
        fill: rebeccapurple;
        color: inherit;
        cursor: pointer;
        transition: fill .3s ease;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0; /* Размещаем полосу слева */
          height: 100%; /* Устанавливаем высоту полосы на 100% */
          width: 2px; /* Ширина полосы */
          background: linear-gradient(0deg, #8514F5FF 0%, #F637E3FF 100%);
          opacity: 0;
          transform: scale(.9);
          transform-origin: center;
          transition: opacity .3s ease, transform .3s ease;
        }

        &-active {
          color: oklch(69.02% .277 332.77);

          &::before {
            opacity: 1;
            transform: scaleY(1);
          }
        }
      }
    }
  }
}
