
<section class="page-section">
  <div class="container">
    <div class="bg-white p-3 rounded-4">
      <div [mathjax]="content3"></div>
    </div>
  </div>
</section>


<section class="page-section">
  <div class="container">
    <div class="bg-white p-3 rounded-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad corporis cumque labore laudantium maiores minima voluptatum. Aliquam cupiditate dolor dolorem eos expedita laborum minima ratione sunt vitae, voluptate? Suscipit?
    </div>
  </div>
</section>
