<div>
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem maiores quisquam repudiandae sequi? Accusantium aliquam aperiam, eaque, fugiat impedit in iste maiores molestias necessitatibus nesciunt non numquam sed tenetur, velit!</h1>
</div>

<div>
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem maiores quisquam repudiandae sequi? Accusantium aliquam aperiam, eaque, fugiat impedit in iste maiores molestias necessitatibus nesciunt non numquam sed tenetur, velit!</h1>
</div>
