<section class="mt-3 footer">
  <div class="container-fluid py-4 bg-primary-green-secondary">
    <div class="container">
      <div class="row text-primary-black">
        <div class="col-md-4 mb-3">
          <h5 class="mb-3">Учебные материалы</h5>
          <div>Автор материалов - Рояк Светлана Хаимовна</div>
          <div>Разработчики - Ватлин Илья и Гудкова Мария</div>
        </div>

        <div class="col-md-4 mb-3">
          <h5 class="mb-3">Контакты</h5>
          <div>
            Email: <a href="mailto:pm13.vatlin@gmail.com">pm13.vatlin&#64;gmail.com</a>
          </div>
          <div>
            Телефон: <a href="tel:+79248151705">+7 (924) 815-17-05</a>
          </div>

        </div>

        <div class="col-md-4 mb-3">
          <h5 class="mb-3">Ссылки</h5>
          <div><a href="https://github.com/ilyavtln/ng-math" target="_blank" class="text-footer">GitHub</a></div>
          <div><a href="https://github.com/gudokk/math" class="text-footer">Предыдущая версия</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-1 bg-primary-dark-gray">
    <div class="container">
      <div class="d-flex justify-content-between">
        <div class="text-footer">© 2024 Ng-math</div>
        <div class="text-footer">Все права защищены.</div>
      </div>
    </div>
  </div>
</section>
