@mixin button($color-name) {
  .btn-#{$color-name} {
    background-color: var(--#{$color-name}) !important;

    &:hover {
      background-color: darken(var(--#{$color-name}), 10%) !important;
    }

    &:active {
      background-color: darken(var(--#{$color-name}), 20%) !important;
    }

    &:focus {
      outline: 2px solid darken(var(--#{$color-name}), 15%) !important;
    }
  }
}
