<section class="page-section">
  <div class="container">
    <div class="bg-primary-white p-3 p-md-4 p-lg-5 rounded-4">
      <div mathLevel="only-easy">Текст для начального уровня</div>
      <div mathLevel="up-easy">Текст доступный с начального уровня и выше</div>
      <div mathLevel="only-normal">Текст только для базового уровня</div>
      <div mathLevel="up-normal">Текст доступный с базового уровня и выше</div>
      <div mathLevel="only-hard">Текст только для продвинутого уровня</div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="bg-primary-white p-3 p-md-4 p-lg-5 rounded-4">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic illo iusto magnam mollitia obcaecati quae quod sed, suscipit tempora. Assumenda atque eligendi hic id in ipsum nulla recusandae tempore ut.
    </div>
  </div>
</section>
